<!DOCTYPE html>
<html lang="es">

<head>
    <title>BINGO</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <!-- HEADER -->
        <header class="cabecera">
            <h1> EL BINGO</h1>
            <button class="boton item" @click="pausar();verOpciones=true">OPCIONES</button>
        </header>

        <div v-if="lineaCantada">
            LINEA CANTADA!
        </div>
        <div class="contenedorFlex flexRow flexLeft">
            <div class="contenedorFlex flexColumn flexCenter">
                <h4>Han salido {{ronda}} bolas </h4>
                <h4> Faltan {{numBolasFaltan}} bolas por salir</h4>
                <p> Se han vendido {{cartonesVendidos}} cartones a {{precioCarton}} € . Se han recaudado {{recaudadoRonda}}€ </p>
                <p v-if="acumuladoPorcentaje>0 ">de los que se acumula el {{acumuladoPorcentaje}} % </p> <span v-if="premioAcumulado>0"> , quedando : {{premioAcumulado}}</span>
                <p>La LINEA se paga a: {{premioLinea}} €</p>
                <p v-if="dobleLinea"> {{premio2Lineas}} €</p>
                <p>El BINGO se paga a: {{premioBingo}} €</p>
                <p v-if="premioAcumulado>0"> AcumuladoTotal: {{premioAcumulado}} </p>

            </div>
            <div class="contenedorFlex flexRow">
                <button v-if="gameState==0" class="boton sizeL item" @click="comenzarBingo()" id="botonStart">COMENZAR NUEVO BINGO</button>
                <button v-if="gameState==1 && !lineaCantada && ronda>4" class="boton sizeL item" @click="pausar();cantar();">LINEA!</button>
                <button v-if="gameState==1 && lineaCantada && ronda>14" class="boton sizeL item" @click="pausar();cantar();">BINGO!</button>
                <button v-if="gameState==3 && !lineaCantada" class="boton sizeL item" @click="cantadoEs('linea',true)">LINEA CORRECTA</button>
                <button v-if="gameState==3 && !lineaCantada" class="boton sizeL item" @click="cantadoEs('linea',false)">LINEA INCORRECTA</button>
                <button v-if="gameState==3 && lineaCantada" class="boton sizeL item" @click="cantadoEs('bingo',true)">BINGO CORRECTO</button>
                <button v-if="gameState==3 && lineaCantada" class="boton sizeL item" @click="cantadoEs('bingo',false)">BINGO INCORRECTO</button>
                <button v-if="gameState==1" class="boton sizeL item" @click="pausar();">PAUSAR</button>
                <button v-if="gameState==2" class="boton sizeL item" @click="reanudar()">REANUDAR BINGO</button>
                <button v-if="gameState==2" class="boton sizeL item" @click="reseteo()">ABORTAR BINGO </button>
            </div>

        </div>


        <!-- BODY -->
        <div class="containerBody">

            <div id="marcador">
            </div>
            <div id="panelBolas"></div>
            <h4>Llevas {{num_partidas}} bingos completados </h4>
            <br>
        </div>

        <!-- MODAL OPCIONES -->
        <div class="contenedorModal" v-show="verOpciones">
            <div class="header">
                <button class="close" @click="verOpciones=false">X</button>
                <h1>OPCIONES</h1>
            </div>
            <div>
                <div>
                    <span> Porcentaje acumulado</span>
                    <input v-model="acumuladoPorcentaje" type="number">
                </div>

                <div>
                    <span>Premio a la doble linea: </span>
                    <input v-model="dobleLinea" type="boolean">

                </div>


                <div>
                    <span>Tiempo entre bolas</span>
                    <input v-model="tiempo" type="number">

                </div>
                <button class="boton" @click="aplicar()">GUARDAR</button>
                <button class="boton" @click="verOpciones=false">CANCELAR</button>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer">Adrian de Haro Ortega. <span class="copyleft"> &copy; </span> Pie de mi App · Todos los derechos reservados</footer>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="./js/app.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=h4UJYPUV"></script>
</body>

</html>